.venv/
__pycache__/
*.pyc
.DS_Store
.env
.idea/
.vscode/
*.log
coverage/
dist/
build/
*.egg-info/
pytest_cache/
.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/
.pyre/
.pytype/
htmlcov/
.tox/
.cache/
*.sqlite3
*.db
*.bak
*.swp
*.tmp
*.old
*.orig
*.rej
*.sublime-project
*.sublime-workspace
*.iml
*.ipynb